@model IEnumerable<GHRace3.ViewModels.RaceViewModel>
@{
    ViewBag.Title = "Load";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

<div class="row">
    <form>
        <fieldset>
            <legend>URL's</legend>
            <div class="row">
                <div class="large-12">
                    <p>Each URL must be on a new line.</p>
                </div>
                <div class="large-12 text-right">
                    <a id="minimize" class="tiny button">-</a>
                    <a id="maximize" class="tiny button">+</a>
                </div>
            </div>
            <div id="url-form">
                <div class="row">
                    <div class="large-12">
                        <textarea id="load-url-text-area"></textarea>
                    </div>
                    <div class="large-12 text-right">
                        <a id="load-button" class="button" >Load</a>
                    </div>
                </div>
                <div id="progress-bar-container" class="progress"><span id="progress-bar" class="meter" style="width: 0%"></span></div>
            </div>
        </fieldset>
    </form>
</div>
<div class="row">
    
</div>

<div id="load-status" class="row">
    
</div>

<script src="~/Scripts/Custom/load.js"></script>

