<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1>@Html.ActionLink("GHRace", "Index", "Home")</h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="*"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li>@Html.ActionLink("Load", "Load", "Home")</li>
            <li>@Html.ActionLink("Predict", "Predict", "Home")</li>
        </ul>
    </section>
</nav>