body{
    background-color:#F8F8F8;
}

/*tr, td{
    border: solid 1px;
    font-size:x-small;
}*/

.table-header td{
    font-weight:600;
}

#load-url-text-area{
    height:300px;
    resize: none;
    
}




