body{
    background-color:#F8F8F8;
}

tr, td{
    /*font-size:small;*/
}

.table-header td{
    font-weight:600;
}

#load-url-text-area{
    height:300px;
    resize: none;
}

#race-meeting-section textarea{
    height:400px;
    width:179px;
    resize:none;
}


